.App {
	justify-content: center;
}

.main {
	width: 60vw;
	border-style: solid;
	padding: 10px;
}

.title {
	text-align: center;
}

p {
	font-size: large;
}
.titlerow {
	display: flex;
	justify-content: space-evenly;
}
